<?xml version="1.0" encoding="utf-8"?>
<mdaConfig>
  <assistants>
    <disconnectedContext disable="true"/>
    <contextSwitchDeadlock disable="true"/>
    <gcUnmanagedToManaged disable="true"/>
    <invalidCERCall disable="true"/>
    <raceOnRCWCleanup disable="true"/>
    <bindingFailure disable="true"/>
    <loaderLock disable="true"/>
    <pInvokeStackImbalance disable="true"/>
  </assistants>
</mdaConfig>